body {
	padding: 0;
	margin: 0;

	font-family: "PT Sans", Arial,  sans-serif;
	font-size:  14px;
	line-height: 21px;
	font-weight: 400;
	color: # 000000;
	text-transform: uppercase;

	background-color:#ffffff;
	background-position: center;
	background-repeat: no-repeat;

}

a{
	text-decoration: none;
}


.main-menu {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
}

.main-menu,
.site-menu {
	list-style: none;
}

.main-menu a,
.site-menu a {
	color: #000000;
}

.main-menu a:hover,
.site-menu 	a:hover{
	color: #81b3d2;
}

.main-menu	 a:focus,
.site-menu	 a:focus{
	color: #dadada;
}

.about-us{
	text-align: center;
}

.about-title{
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.reason-item{
	list-style: none;
}
.reason-item,
.reason-info{
	text-align: center;
}

.reason-one{
	background-color: #81b3d2;
	color: #ffffff;
}

.reason-item-title h2,
.reason-title h2{
	font-size: 21px;
	font-weight: bold;
	line-height: 21px;

}

.feature-item{
	list-style: none;
	text-align: center;
}

.feature-title h3{
	font-size: 21px;
	font-weight: bold;
	line-height: 21px;
}

.reason-two{
	background-color: #81b3d2;
	color: #ffffff;
}

.reason{
	background-color: #eeeeee;
}

.benefits-interest {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
	background-color: #ffffff;
}

.benefits-info{
	text-align: center;
	background-color: #ffffff;
}

.searh-btn-open{
	font-size: 21px;
	font-weight:bold;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	background-color: #766357;
	border: none;
	vertical-align: middle;
	text-transform: uppercase;
}

.searh-btn-open:hover{
background-color: #604e43;
}

.searh-btn-open:focus{
	background-color:  #503e33;
	color: #928a85;
}

label{
	font-size: 14px;
	font-weight: bold;
}

.form-date input,
.number-persons input{
	font: inherit;
	font-weight: bold;
	color: #000000;
	background-color: #f2f2f2;
	border: none;

}
.form-date input{
	background-image: url(img/calendar.PNG);
}